@import '../../../../scss/main.scss';

.column_2 {
  width: 50%;
  padding: 20px;
}

.secondSection {
  @extend %flex-center;
  height: 200px;
  flex-direction: column;

  .titles {
    @extend %d-flex;
    .paraph {
      font-weight: 100;
    }
  }

  .consultancy {
    text-align: center;
  }
}

.squares {
  display: flex;

  .wrapper {
    padding: 4%;
  }

  .square {
    width: 33%;
    .image {
      position: relative;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.ourMission {
  display: flex;
  margin: 150px;
}

.lastSection {
  margin: 150px;
}

.image {
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .column_2 {
    width: 100%;  
  }
  .ourMission {
    flex-direction: column;
  }

  .squares {
    flex-direction: column;
    margin: 150px;

    .square {
      width: 100%;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
