@import '../../../../scss/main.scss';

.firstSection {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .mainTitle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /*background-image: url('../../../../assets/img/franco.jpg');*/
    background-repeat: no-repeat;
    object-fit: contain;
    min-height: 500px;
    background-position: center;
    padding: 2rem;
    box-shadow: 0 0 38px 48px black inset;
  }
}

.column_2 {
  position: relative;
  width: 50%;
  padding: 20px;
  .ourMissionText {
    padding: 24px 0;
  }
  .ourMissionText::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: 0;
  }
}

.secondSection {
  @extend %flex-center;
  height: 200px;
  flex-direction: column;

  .titles {
    @extend %d-flex;
    .paraph {
      font-weight: 100;
      letter-spacing: 4px;
    }
  }

  .consultancy {
    text-align: center;
  }
}

.squares {
  display: flex;
  background-color: #191919;

  .text {
    padding: 18px;
  }

  .square {
    width: 33%;
    .image {
      max-width: 100%;
      max-height: 480px;
      display: block;
    }
  }
}

.ourMission {
  display: flex;
}

.image {
  width: 100%;
  max-width: 400px;
}

.dog {
  width: 40%;
  float: right;
}

.home {
  background-image: url('../../../../assets/img/home.png');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 100%;
  height: 757px;
  display: flex;
  justify-content: inherit;
  align-items: center;
  flex-direction: column;
  & > img {
    width: 200px;
  }
}

.button {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 16px 20px;
  position: relative;
  overflow: hidden;
  .overLayer {
    transition: 0.5s;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &:hover {
    transition: 0.5s;
    color: #131313;
    .overLayer {
      transform: translateX(0px);
      color: black;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media (max-width: 992px) {
  .column_2 {
    width: 100%;
  }

  .ourMission {
    flex-direction: column;
  }

  .squares {
    flex-direction: column;

    .square {
      width: 100%;
    }
  }

  .lastSection {
    padding: 4%;
  }

  .dog {
    width: 100%;
    float: right;
    margin-top: 40px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .column_2 {
    position: relative;
  }

  .ourMission {
    display: flex;
    margin: 150px;
  }

  .lastSection {
    margin: 150px;
  }
}
