button {
  outline: none;
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
}

img {
  filter: grayscale(100%);
  transition: filter 3s;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  -webkit-transition: filter 3000ms;
}

img:hover {
  filter: none;
  -webkit-filter: none;
}

#root {
  height: 100%;
}
